<!--TESTIMONIAL 1 -->
<div class="item">
<div class="shadow-effect">
<p class="testimonialArea"><img class="quoteImg" src="../assets/image/quote.png"> uris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim. Aenean non rhoncus quam.</p>
</div>
<div class="clientName"><img class="img-circle" src="../assets/image/client-img.png" alt=""> <span>CLIENT NAME</span><span class="position">Position, ORG</span></div>
</div>
<!--END OF TESTIMONIAL 1 -->