<html>
    <head>
    	{% include "head.twig" %}
    </head>
<body>
<div class="main">
	<!-- HEADER -->
	{% include "./elements/header.twig" %}
	<!-- MAIN -->
	{% include "./elements/banner.twig" %}
	{% include "./elements/content.twig" %}
	<!-- FOOTER -->
	{% include "./elements/footer.twig" %}
</div>
</body>
</html>