<section class="bannerArea">
    	 <div class="container-fluid">
    	    <div class="row">
    	    	<div class="col-md-12">
    	    		<div class="flex-container">
                        <div class="banner-title">Integer bibendum sit amet  arcu vel egestas.</div>
                    </div>
                    <div class="bannerContent">
    	    			<div class="flex-container">
    	    				<div class="serviceBox">
    	    					<img src="../assets/image/staff2.png" alt="" />
    	    					<p>Service Name</p>
    	    				</div>
    	    				<div class="serviceBox">
    	    					<img src="../assets/image/staff.png" alt="" />
    	    					<p>Service Name</p>
    	    				</div>
    	    				<div class="serviceBox">
    	    					<img src="../assets/image/staff3.png" alt="" />
    	    					<p>Service Name</p>
    	    				</div>
    	    			</div>
    	    		</div>
    	    	</div>
    	    </div>
    	 </div>
</section>