<section class="contentArea">
    	 <div class="container">
    	    <div class="row">
    	    	<div class="col-md-6">
    	    		<div class="aboutContent">
    	    			<h4>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has</h4>
    	    			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make</p>
    	    		</div>
    	    	</div>
    	    	<div class="col-md-6">
    	    		<div class="aboutImage">
    	    			<img src="assets/image/aboutUS.jpg" class="img-responsive" alt="">
    	    		</div>
    	    	</div>
    	    </div>
    	 </div>
</section>

<!-- TESTIMONIAL -->
{% include "./testimonials.twig" %}