<!-- FORM -->
{% include "./form.twig" %}

<footer class="bg-dark">
	<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="pull-left Copyright mobile"><p>&copy;2017 Company. All Rights Reserved.</p></div>
	        <div class="pull-right social mobile">
                <p class="footer-content">Follow us on: 
	                <div class="social-inline"><a href="#"> <img src="../assets/image/facebook.png"> </a></div>
	                <div class="social-inline"><a href="#"> <img src="../assets/image/linkedin.png"> </a></div> 
	                <div class="social-inline"><a href="#"> <img src="../assets/image/twitter.png"> </a></div> 
	                <div class="social-inline"><a href="#"> <img src="../assets/image/email.png"> </a></div> 
                </p>
	        </div>
		</div>
	</div>
</div>
</footer>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.1/owl.carousel.min.js'></script>
<script src="./assets/js/main.js"></script>