<section class="workForm">
    	<div class="container">
    		<div class="workWithUs">
    			<h3>Convinced To Work With Us?</h3>
    			<p>Company has helped agencies keep their promises to clients sinc</p>
    			<br />
    			<form>
				  <div class="row">
				    <div class="col-sm-4">
				      <input type="text" class="form-control" placeholder="Fullname">
				    </div>
				    <div class="col-sm-4">
				      <input type="text" class="form-control" placeholder="Email Address">
				    </div>
				    <div class="col-sm-4">
				      <input type="text" class="form-control" placeholder="Phone Number">
				    </div>
				    <div class="col-sm-12">
				      <textarea rows="4" class="form-control" placeholder="Message in brief"></textarea>
				    </div>
				  </div>
				  <div class="btnSubmit text-center">
				  <button type="submit" class="submitBtn">Submit</button>
				</div>
			</form>
    		</div>
    	</div>
  </section>