<nav class="navbar bg-dark mb0">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand logoText" href="#">COMPANY <span>LOGO</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right mainMenu">
	      <li class="javascript:void(0);"><a href="#">About</a></li>
	      <li><a href="javascript:void(0);">Services</a></li>
	      <li><a href="javascript:void(0);">Solutions</a></li>
	      <li><a href="javascript:void(0);">Blog</a></li>
	      <li><a href="javascript:void(0);" class="getInTouch"><img src="./assets/image/getInIcon.png" alt="" /> Get In Touch</a></li>
	    </ul>
      </div>
    </div>
</nav>